header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    max-height: 35px;
}

.botao {
    border-radius: 50%;
    border: 2px solid #747272;
    height: 45px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.botao img {
    width: 25px;
    height: 25px;
    
}

.animation-flip {
    animation: flip 500ms ease-in-out;
}

.Header-dark-mode {
    background-color: #252525;
}

.Header-dark-mode .botao {
    background-color: #252525;
    border-color: #fff;
}

@keyframes flip {
    0% {
        transform: scaleX(100%);
    }
    50% {
        transform: scaleX(0%);
    }
    100% {
        transform: scaleX(100%);
    }
}